@model IEnumerable<DAndDWebsite.Models.Statistic>

@{
    ViewData["Title"] = "Index";
}

<h2>Character Stats:</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Strength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dexterity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Constitution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intelligence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wisdom)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dexterity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Constitution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intelligence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wisdom)
            </td>
        </tr>
    }
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Charisma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Initiative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proficiency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HealthPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acrobatics)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Charisma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Initiative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proficiency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acrobatics)
            </td>
        </tr>
    }
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnimalHandling)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arcana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Athletics)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deception)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.History)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insight)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalHandling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arcana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Athletics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deception)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.History)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insight)
            </td>
        </tr>
    }
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Intimidation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investigation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Perception)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Performance)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Intimidation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Investigation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perception)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Performance)
            </td>
        </tr>
    }
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persuassion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Religion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SleightOfHand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stealth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Survival)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Persuassion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Religion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SleightOfHand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stealth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Survival)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>






    }
</table>

<style>
    a {
        color: white;
    }

    td {
        font-weight: bold;
        color: white;
    }
    th {
        font-weight: bold;
        color: black;
    }

    h2 {
        background: -webkit-linear-gradient(#eee, rgb(100, 55, 200));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: Italic;
        font-family: Impact;
        font-size: 5em;
        letter-spacing: -2px;
        border-bottom: 10px groove rgb(100, 55, 200);
        border-radius: 10px;
        text-transform: uppercase;
        transform: scale(1);
        animation: pulse 7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in 10s, ease-out 2s;
    }

    @@keyframes pulse {
        0% {
            transform: scale(1);
        }

        70% {
            transform: scale(.70);
        }

        100% {
            transform: scale(1);
        }
    }
</style>